# http://editorconfig.org

[*]
    charset = utf-8
    end_of_line = lf
    indent_style = space
    insert_final_newline = true
    trim_trailing_whitespace = true

[*.{js,rb,scss,html,jinja,slim,haml,jade,styl}]
    indent_size = 2

[*.md]
    trim_trailing_whitespace = false

[Makefile]
    indent_style = tab
