<h1>Credit prisoners accounts</h1>

<ul class="boxes">
  <li class="fresh">
    <a href="#/new">
      <h2>New</h2>
      <p><strong>54</strong> Payments to credit</p>
    </a>
  </li>
  <li>
    <a href="#/history">
      <h2>History</h2>
      <p><span>Payments</span> credited by you</p>
    </a>
  </li>
</ul>
