%h1 Money sent to prisoners

%ul.SummaryBoxes
  %li.SummaryBoxes--fresh
    %a(href="#TODO")
      %h2 New
      %p
        %strong 54
        Payments to credit
  %li
    %a(href="#TODO")
      %h2 History
      %p
        %span Payments
        credited by you
