<% content_for :page_title, 'Digital payments' %>

<% content_for :global_subheader do %>
  <div class="user-details">
    <span>Logged in as Emma Wilkes</span>
    <span><a href="#">Log out</a></span>
  </div>
<% end %>

<%= render template: 'layouts/erb/internal' %>
