- content_for :page_title, 'Digital payments'

- content_for :global_subheader do
  .user-details
    Logged in as Firstname Lastname
    %span
      %a(href="#TODO") Log out

= render template: 'layouts/erb/internal'
